.idcard {
  background-color: #FFFFFF;
  padding: 1em 0em 1em 0em;
}

.nameTitle {
  color: #EC7000;
  margin-bottom: 0.2em;
}

.functionTitle {
  margin-top: 0.2em;
}

.profilePicture {
    width:75%;
    border-radius:50%;
}

.picturePosition {
    margin-left:0.75em;
}

.textCenter {
  text-align: center;
}

.contactInfo {
    margin-bottom: 0.5em;
}

.idcard hr {
   width: 90%;
 }

.idcard ul {
  padding-left: 1.5em;
  margin-top: 0.5em;
}

.idcard li {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1em;
}
.idcard li i {
  margin-right: 1.25em;
}
