.interests {
  
}

.entry {
  margin-top: 0.75em;
}

.highlights {
  font-size: 15px;
  font-weight: 900;
  color: #5FBA7D;
}

.summary {
  margin: 0.5em 0 0.5em 0;
  font-style: italic;
}

.interests h4 {
  color: #5FBA7D;
  margin-bottom: 0;
  margin-top: 0.75em;
}

.interests ul {
  margin-top: 0.2em;
}
